<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
    <meta charset="utf-8" />
    <title>Lista Telefonica</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/estilos.css" rel="stylesheet" />
    <link href="../css/ui.css" rel="stylesheet" />

    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-messages.js"></script>
    <script src="../Scripts/angular-locale_pt-br.js"></script>
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../lib/ui.js"></script>
    <script src="../js/app.js"></script>
    <script src="../lib/serialGenerator.js"></script>
    

    <script src="../js/controllers/listaTelefonicaController.js"></script>

    <script src="../js/services/contatosApiServices.js"></script>
    <script src="../js/services/operadoraApiServices.js"></script>

    <script src="../js/config/serialGeneratorConfig.js"></script>

    <script src="../js/value/configValue.js"></script>

    <script src="../js/filter/nameFilter.js"></script>
    <script src="../js/filter/ellipsisFilter.js"></script>

    <script src="../js/directives/uiAlertDirective.js"></script>
    <script src="../js/directives/uiDateDirective.js"></script>


</head>
<body ng-controller="ListaTelefonicaController">
    <div class="jumbotron">
        <ui-accordions>
            <ui-accordion title="Accordion 1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </ui-accordion>
            <ui-accordion title="Accordion 2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </ui-accordion>
            <ui-accordion title="Accordion 3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </ui-accordion>
            <ui-accordion title="Accordion 4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </ui-accordion>
            <ui-accordion title="Accordion 5">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </ui-accordion>
        </ui-accordions>
        <hr />
        <!--<h4 ng-bind="titulo"></h4>-->
        <!--<h3>{{titulo}}</h3>
        <ui-alert title="Ops, aconteceu um problema!">
            {{error}}
        </ui-alert>-->

        <!--<ui-alert title="Série sobre AngularJS">
            Episódio 10 - Criando Diretivas - Parte 1
        </ui-alert>-->
        <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />
        <!--{{message}}-->
        <table ng-show="contatos.length > 0" class="table">
            <tr>
                <th></th>
                <th>Serial</th>
                <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                <th>Data</th>
                <th>Operadora</th>

            </tr>
            <!--Primeira forma-->
            <!--<tr ng-class="classe" ng-repeat="contato in contatos">-->
            <!--Segunda Forma-->
            <!--<tr ng-class="[classe1, classe2]" ng-repeat="contato in contatos">-->
            <!--Mais ideal-->
            <!--Filtrando só pelo campo nome <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome:criterioDeBusca}">-->
            <!--Limitando a quantidade de registros na tabela...tbm pode ser utilizado nos controllers -->
            <!--<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | limitTo: 2 | filter:criterioDeBusca | orderBy: criterioDeOrdenacao: direcaoDaOrdenacao">-->
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy: criterioDeOrdenacao: direcaoDaOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado" /></td>
                <!--<td>{{contato.nome | uppercase | limitTo: 2}}</td>-->
                <td>{{contato.serial}}</td>
                <td>{{contato.nome | name | ellipsis:10}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.data | date: 'dd/MM/yyyy'}}</td>
                <td>{{contato.operadora.nome | uppercase}}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color' : contato.cor}"></div></td>
            </tr>
        </table>
        <hr />
        <!--É válido: {{contatoForm.$valid}}
        É inválido: {{contatoForm.$invalid}}-->
        <form name="contatoForm">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10">
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
            <input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date />



            {{contato.data}}
            <!--Utilizando o group by-->
            <!--<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select>-->
            <!--Pegando so o codigo-->
            <select class="form-control" ng-model="contato.idOperadora" ng-options="operadora.id as operadora.nome for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
            </select>

            <!--MAIS USADA-->
            <!--<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' for operadora in operadoras | orderBy:'nome'">
                <option value="">Selecione uma operadora</option>
            </select>-->
        </form>

        <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error" class="alert alert-danger">
            <div ng-message="required">
                Por favor, preencha o nome
            </div>
            <div ng-message="minlength">
                O campo nome deve ter no mínimo 10 caracteres.
            </div>
        </div>

        <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
            Por favor, preencha o telefone
        </div>
        <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">
            O campo telefone deve ter o formato DDDDD-DDDD.
        </div>
        <!--<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
            Por favor, preencha o telefone
        </div>
        <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">
            O campo telefone deve ter o formato DDDDD-DDDD.
        </div>-->
        <!--<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar</button>-->
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>
        <!--<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contatos</button>-->
        <!--<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>-->
        <!--<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-hide="!isContatoSelecionado(contatos)">Apagar Contatos</button>-->
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
        <!--Formato do número {{100.96 | number: 2}}-->
    </div>

    {{contato[0].nome}}

    <div ng-include="'footer.html'"></div>
</body>
</html>